body{
    background-color: grey;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.simbolo{
    border: 5px solid black;
    border-radius: 50%;
}


#tittle, .subtittle, .post_tittle {
    color: black;
    
}

#tittle{
    font-size: 40px;
    text-transform: uppercase;

}

a{
    text-decoration: underline;
    color: #505050;
}

.post_tittle {
 font-size: 16px;   
 font-style: italic;
 margin: 0;
 margin-bottom: 15px;
}

.post{
    background-color: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 15px;
}
 
.post_content{
    margin: 0;
    margin-bottom: 15px;
    border-radius: ;
    text-transform: capitalize;
    text-align: center;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
} 

.contact_list{
    list-style-type: none;
    padding-left: 15px;


}

.contact_list li a{
    color: black;
    text-decoration: none;
    font-size: large;
}